html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
  font-family: Arial;
}
html,body {
  overflow: auto;
  height: 100%;
}
.container{
  width: 100%;
}
.menu{
  width: 7%;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
}
.right-container{
  width: 93%;
  float: right;
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: auto;
  height: 100%;
}
.menu ul::-webkit-scrollbar {
    display: none;
}
.menu ul{
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.menu ul{
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  width: 100%;
  max-height: 100%;
}

.menu ul li{
  list-style: none;
  display: block;
  padding: 40px 20px;
  background-color: #656563;
  text-align: center;
}
.menu ul li i{
  color: white;
}
header{
  padding: 0;
}
#bar-1, #bar-2{
  min-height: 50px;
  /*border: 1px solid red;*/
  /*overflow: hidden;*/
}
#bar-2{
  min-height: 70px;
}
#bar-1{
  background-color: #1AB394;
}
.menu-button{
  float: left;
  color: white;
  /*padding: 12px;*/
  font-size: 27px;
  margin-left: 20px;
  margin-top: 7px;
}
.search-wrapper{
  padding: 12px;
  display: inline-block;
}
.search{
  display: inline-block;
  margin: 4px 0 4px 20px;
  /*clear: right;*/
}
.search input{
  background-color: #1AB394;
  border:none;
  /*border-bottom: 1px solid #fff;*/
  color: white;
}
.search input:focus{
  outline: none;
}
.user-login{
  float: right;
  margin-top: 5px;
}
.user-login ul li{
  color: white;
  list-style: none;
  display: inline;
  margin-right: 13px;
  font-size: 13px;
  font-family: Arial;
}
.user-login ul li sup{
  padding: 2px 3px;
  background-color: #FFAC56;
  border-radius: 4px;
  font-size: 9px;
  position: relative;
  top: -4px;
  left: -8px;
}
.page-details{
  display: inline-block;
}
.page-name{
  padding: 10px 0px 4px 18px;
  color: #8B8B8B;
}
.breadcrumbs{
  padding: 10px 0px 4px 18px;
  color: #8B8B8B;
  font-size: 12px;
}
.menu-options{
  float: right;
  padding: 20px;
  font-size: 25px;
}
.project-tabs{
  width: 15%;
  /*display: inline-block;*/
  float: left;
  /*border: 0.2px solid red;*/
}
.tab-detail{
  float: right;
  width: 85%;
  /*border: 0.2px solid red;*/
  display: inline-block;
}
.content{
  padding: 20px 30px;
  color: #444444;
  /*opacity: 0.2;*/
  border: 4px solid #F0F0F0;
  margin: 5px 20px;
  min-height: 550px;
}
.content-header{
  overflow: hidden;
  margin-bottom: 10px;
  min-height: 35px;
}
.project-title{
  float: left;
  width: 20%;
}
.submit-options{
  float: right;
  /*clear: both; */
  width: 80%;
  position: relative;
}
.content-detail{
  /*border: 1px solid red;*/

  overflow:auto;
}
.submit-project{
  background-color: #1AB394;
  color: #fff;
  right: 60px;
  position: absolute;
  text-shadow:none;
  border:none;
  box-shadow:none;
  padding: 8px;
}
.project-tabs ul{
  margin-top: 45px;
}
.project-tabs ul li{
  list-style: none;
  padding: 12px 5px;
}
.selected-tab span{
  background-color: #F0F0F0;
  /*font-weight: bold;*/
  /*height: 100%;*/
  display: inline-block;
  width: 70%;
  padding: 10px 0px 10px 4px;
  border-radius: 5px;
}
.settings{
  display: inline;
  right: 0;
  position: absolute;
}
.tab-detail{
  /*background-color: pink;*/
  background-color: #F0F0F0;
}
.filling-progress{
  padding: 15px;
  background-color: #fff;
}
.filling-progress span{
  width: 60%;
  background-color: #FFC000;
  display: inline-block;
  height: 10px;
  margin-left: 25px;
}
.tab-form{
  overflow: hidden;
  padding: 10px 15px;
  min-height: 450px;
}
.tab-form .form-left{
  float: left;
  width: 50%;
}
@media only screen and (max-width: 1150px){
  .tab-form .form-left{
    /*float: none;*/
    width: 100%;
  }
}
.tab-form .form-right{
  float: right;
  width: 50%;
}
@media only screen and (max-width: 1150px){
  .tab-form .form-right{
    float: none;
    width: 100%;
  }
}
.form-field{
  padding: 10px 0;
}
.form-field label{
  display: inline-block;
  width: 25%;
  font-size: 15px;
  color: #444444;
}
@media only screen and (max-width: 1150px){
  .form-field label{
    /*float: none;*/
    width: 25%;
  }
}

.form-field textarea, input, select{
  width: 200px;
  border: none;
  padding: 10px 60px 10px 3px;
  -ms-box-sizing:content-box;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box;
  box-sizing:content-box;
}
.form-field input:focus, textarea:focus{
  border: none;
  border: 1px solid #1AB394;
}
.form-field textarea{
  vertical-align: top;
  resize: none;
}
footer .copyright{
  font-size: 10px;
  margin-left: 6px;
  color: #444444;
}


.file-form{
  overflow: auto;
  border: 12px solid #dadada;
}
.file-form-header{
  background-color: #dadada;
  padding: 15px 0 15px 20px;
}
.file-upload{
  margin: 10px 0 10px 5px;
}
.file-upload-button{
  background-color: #1AB394;
  border: none;
  color: #fff;
  padding: 5px 8px;
}

.directory{
  padding: 10px;
}
.file-explorer{
  float: left;
  width: 20%;
}
.file-window{
  float: right;
  width: 80%;
  /*border: 1px solid green;*/
}
.file-window ul{
  padding: 20px;
  border: 5px solid #adadad;
  overflow: auto;
  text-align: center;
}
.file-explorer ul{
  margin-left: 10px;
  padding: 4px 0;
}
.file-explorer ul li{
  padding: 8px 0;

}
.file-window ul li{
  display: inline;
  float: left;
  margin-right: 45px;
  margin-bottom: 10px;
  text-align: center;

}
.file-window ul li i{
  font-size: 50px;
}
.file-window ul li span{
  display: block;
  font-size: 15px;
}
.assoc-member{
  float: left;
  width: 20%;
}
.member-list{
  float: right;
  width: 70%;
}
.mem-list-header{
  text-align: center;
  margin-top: 40px;
}
.mem-list-title{
  text-align: center;
}
.mem-list-header + ul{
  text-align: center;
}
.mem-list-header ul li{
  display: inline;
  margin-right: 30px;
}
.mem-list-header + ul li{
  display: inline;
  margin-right: 30px;
}
.member-details input[type='checkbox']{
  width: inherit;
}
.assoc-member ul{
  margin-top: 20px;
}
.assoc-member ul li{
  margin-top: 10px;
}
.assoc-member ul li:nth-child(odd) {
    background: #dadada;
}

.assoc-member ul li:nth-child(even) {
    /*background: blue;*/
}
.assoc-member ul li img{
  /*width: 25px;*/
  width: 50px;
  border-radius: 50%;
  border: 1px solid #dadada;
  vertical-align: middle

}
.mem-list-search{
  margin-top: 30px;
}
.mem-list-search i{
  width: 5%;
  text-align: center;
  margin-right: 10px;
}
.mem-list-search input{
  width: 70%;
}
.mem-list-search button{
  border: none;
  width: 10%;
  background: #1AB394;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}
