<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pervazive</title>
  </head>
  <body>
    <div class="main-container">
      <div class="menu">
        <ul>
          <li><i class="fa fa-x fa-arrow-left" aria-hidden="true"></i></li>
          <li><i class="fa fa-x fa-bar-chart" aria-hidden="true"></i></li>
          <li><i class="fa fa-x fa-envelope" aria-hidden="true"></i></li>
          <li><i class="fa fa-x fa-television" aria-hidden="true"></i></li>
          <li><i class="fa fa-x fa-files-o" aria-hidden="true"></i></li>
          <li><i class="fa fa-x fa-picture-o" aria-hidden="true"></i></li>
          <li><i class="fa fa-x fa-picture-o" aria-hidden="true"></i></li>
        </ul>
      </div>
      <div class="right-container">
        <header>
          <div id="bar-1">
            <div class="search-wrapper">
              <div class="menu-button">
                <i class="fa fa-bars" aria-hidden="true"></i>
              </div>
              <div class="search">
                <input type="text" id="search" value="Search for Something..."/>
              </div>
            </div>
            <div class="user-login">
              <ul>
                <li>Welcome User, User Role</li>
                <li><i class="fa fa-envelope" aria-hidden="true"><sup>16</sup></i></li>
                <li><i class="fa fa-bell" aria-hidden="true"><sup>8</sup></i></li>
                <li><i class="fa fa-sign-out" aria-hidden="true"></i>Log out</li>
              </ul>
            </div>
          </div>
          <div id="bar-2">
            <div class="page-details">
              <div class="page-name">Project detail</div>
              <div class="breadcrumbs">Home / Platform / Project detail</div>
            </div>
            <div class="menu-options">
              <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </div>
          </div>
        </header>
        <div class="content">

        </div>
        <footer>
        </footer>
      </div>
    </div>
  </body>
</html>
